<!DOCTYPE html>
<html>
  <head>
    <title>Tinderbay</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%# Ben Griffin #%>
      <header>
              <ul class="navbar">
                <li class="nav_item"><%= link_to "Users", users_path %></li>
                <li class="nav_item"><%= link_to "Products", products_path %></li>
                <li class="nav_item"><%= link_to "Posts", posts_path %></li>
              </ul>
        </header> 
    <%= yield %>
        <footer>
            Placeholder Footer
        </footer>
  </body>
</html>
